.home-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.home-card:hover .article-image {
  opacity: 0.7;
}
.tall {
  width: 220px;
  height: 480px;
}
.large {
  width: 90%;
  height: fit-content;
  max-height: 600px;
  min-width: 250px;
  max-width: 1535px;
}
.wide {
  width: 100%;
  max-width: 505px;
  max-height: 300px;
}
.small {
  width: 270px;
  height: 237px;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  transition: all 0.3s;
}
.article-title,
.article-type {
  color: white;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  z-index: 1;
}

.article-title {
  font-weight: 400;
  font-size: 20px;
}
.article-type {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: fit-content;
  background: rgb(253, 63, 29);
  background: linear-gradient(
    180deg,
    rgba(253, 63, 29, 1) 0%,
    rgba(252, 72, 69, 1) 100%
  );
}

@media screen and (max-width: 572px) {
  .wide {
    width: 100%;
  }
}
