.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1348px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1700px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
