.search-container {
  min-width: 20%;
}
.search-input {
  padding: 15px 14px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: none;
  font-size: 15px;
}
.search-input::placeholder {
  color: darkgray;
}
